<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <span (click)='showHideSearch()'>
        <a class="navbar-brand white mleft-50" routerLink="">
            <i class="fa fa-television" aria-hidden="true"></i>
            <span> {{title}}</span>
        </a>
    </span>
    <button class="navbar-toggler mright-50" type="button" data-toggle="collapse" (click)='openCloseDiv()'
        data-target="#navbarTogglerId" aria-controls="navbarTogglerId" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  mright-50" id="navbarTogglerId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <span (click)='showHideSearch()'>
                    <a class="navbar-brand white" routerLink="">
                        <span>Dashboard</span>
                    </a>
                </span>
            </li>
        </ul>
        <div class="input-group auto-width" *ngIf='!hideSearch'>
            <input class="form-control" type="text" autocomplete="off" placeholder="Search TV Shows"
                value='{{searchedTerm}}' (keyup)='valueSearched($event)' id="search">
            <span class="input-group-append">
                <button class="btn btn-outline-secondary search-icon" type="button" (click)='search()'>
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</nav>

<button *ngIf="isShow" class="scroll-top-btn" (click)="gotoTop()" title="Go to top">Top</button>