<app-loader></app-loader>
<section *ngIf='loadData'>

    <div class="mT20">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
                <input class="form-control mr-sm-2" type="search" [(ngModel)]='searchedTerm'
                    placeholder="Search TV Shows" aria-label="Search" (keyup)='searchShows($event)'>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-info" (click)='triggerSearch()'>Search</button>
            </div>
        </div>
    </div>

    <ng-container *ngIf='!isSearched'>
        <div class="mT20 mb-1">
            <ng-container *ngIf='selectedGenreTvShowsList.length==0'>
                <div class="d-flex justify-content-center mt-3">
                    <b>No Data Found.</b>
                </div>
            </ng-container>
            <ng-container *ngIf='selectedGenreTvShowsList.length>0'>
                <ng-container *ngFor='let genreInfo of selectedGenreTvShowsList'>
                    <h4 class="custom-headers" style="margin-top:50px">
                        <span class="popular">{{genreInfo.genreValue}}</span>
                    </h4>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let slide of genreInfo.genreData" [id]="slide.id">
                            <div class="card mT20 wP-100 hand">
                                <ng-container *ngIf='slide.image!=null || slide.image !=undefined'>
                                    <img class="wP-100" [src]="slide.image.medium" [alt]="" [title]="slide.name"
                                        [routerLink]="['/shows', slide.id]">
                                </ng-container>
                                <ng-container *ngIf='slide.image==null || slide.image ==undefined'>
                                    <div class="no-genre-image">Image Unavailable</div>
                                </ng-container>
                                <div class="card-body">
                                    <ng-container *ngIf='slide.rating.average ==null'>
                                        <span class="fa fa-star black-rating" aria-hidden="true"></span>
                                        <span class="pl-1">N/A</span>
                                    </ng-container>
                                    <ng-container *ngIf='slide.rating.average!= null'>
                                        <span class="fa fa-star rating" aria-hidden="true"></span>
                                        <span class="pl-1">{{slide.rating.average}}</span> <span>/10</span>
                                    </ng-container>
                                    <a target='_blank' href="{{slide.url}}">
                                        <span class="ellipsed" title="{{slide.name}}">{{slide.name}}</span>
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <ng-container *ngIf='isSearched'>
        <div class="mT20 mb-1">
            <h4 class="custom-headers">
                <span class="popular">Searched Results</span>
            </h4>
            <ng-container *ngIf='searchedTermTvShows.length==0'>
                <div class="d-flex justify-content-center mt-3">
                    <b>No Data Found For: '{{searchedTerm}}'.</b>
                </div>
            </ng-container>
            <ng-container *ngIf='searchedTermTvShows.length>0'>
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide *ngFor="let slide of searchedTermTvShows" [id]="slide.show.id">
                        <div class="card mT20 wP-100 hand">
                            <ng-container *ngIf='slide.show.image!=null || slide.show.image !=undefined'>
                                <img class="wP-100" [src]="slide.show.image.medium" [alt]="" [title]="slide.show.name"
                                    [routerLink]="['/shows', slide.show.id]">
                            </ng-container>
                            <ng-container *ngIf='slide.show.image==null || slide.show.image ==undefined'>
                                <div class="no-genre-image-search">Image Unavailable</div>
                            </ng-container>
                            <div class="card-body">
                                <ng-container *ngIf='slide.show.rating.average !=null'>
                                    <span class="fa fa-star rating" aria-hidden="true"></span>
                                    <span class="pl-1">{{slide.show.rating.average}}</span>
                                </ng-container>
                                <ng-container *ngIf='slide.show.rating.average == null'>
                                    <span class="fa fa-star black-rating" aria-hidden="true"></span>
                                    <span class="pl-1">N/A</span>
                                </ng-container>
                                <a target='_blank' href="{{slide.show.url}}">
                                    <span class="ellipsed" title="{{slide.show.name}}">{{slide.show.name}}</span>
                                </a>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </ng-container>
        </div>
    </ng-container>
</section>