.owl-theme .owl-nav .owl-next{
    position: absolute;
    width: 60px;
    cursor: pointer;
    right: 0px;
    top: 150px !important;
    font-size: 24px;
    padding: 1.25rem .75rem !important;
    background: #434141 !important;
}

.owl-theme .owl-nav .owl-prev{
    position: absolute;
    width: 60px;
    cursor: pointer;
    left: 0px;
    top: 150px !important;
    font-size: 24px;
    background: #434141 !important;
    padding: 1.25rem .75rem !important;
}

.owl-carousel.owl-drag .owl-item {
    width: 248px !important;
}